.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 48px 24px;
    background: black;
    color: #f7f8f6;
}

.main {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    width: 100%;
    max-width: 760px;
    flex-direction: column;
    gap: 16px;
}